@import '~node_modules/modern-normalize/modern-normalize.css';
@import '~node_modules/modern-normalize/modern-normalize.css';
section {
  display: block;
}

p,
h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  font-style: normal;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 1280px;
  }
}

::-webkit-input-placeholder {
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-image: url(/src/images/mob-background-home-1x.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/mob-background-home-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(/src/images/tab-background-home-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/tab-background-home-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-image: url(/src/images/desk-background-home-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/desk-background-home-2x.jpg);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 41px;
}

.header__home {
  padding-top: 40px;
  padding-bottom: 48px;
  padding-left: 35px;
  padding-right: 35px;
}
@media screen and (min-width: 1024px) {
  .header__home {
    padding-bottom: 75px;
  }
}

.header-btn {
  list-style-type: none;
}

.navigation {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
}

.navigation__link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.navigation__item {
  list-style-type: none;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    visibility: hidden;
    display: none;
  }
}

.contact__icon {
  margin-right: 10px;
  cursor: pointer;
}

.navigation__link {
  position: relative;
  padding: 5px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: #ff001b;
}

.search {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .search {
    width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .search {
    width: 394px;
  }
}

.search__input {
  width: 100%;
  height: 30px;
  padding: 4px 0;
  border: none;
  border-bottom: 0.5px solid white;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  background-color: transparent;
}
@media screen and (min-width: 480px) {
  .search__input {
    width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .search__input {
    width: 394px;
  }
}

.search__button {
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.function__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.authorization-btn {
  background-color: inherit;
  height: 40px;
  border-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  cursor: pointer;
  list-style-type: none;
  fill: white;
}

.register__icon {
  fill: white;
  margin-right: 25px;
}
@media screen and (min-width: 768px) {
  .register__icon {
    margin-right: 40px;
  }
}

.warning-notification {
  position: absolute;
  top: 40px;
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  color: red;
}
@media screen and (min-width: 768px) {
  .warning-notification {
    width: 398px;
  }
}
@media screen and (min-width: 1200px) {
  .warning-notification {
    width: 398px;
  }
}

.wrong-text {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2px;
}

.main-section {
  padding-top: 20px;
  padding-bottom: 20x;
  min-height: calc(100vh - 362px);
}

.main-section__allcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section__card {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-section__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .main-section__card {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.main-section__image {
  width: 100%;
}

.main-section__card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  text-transform: uppercase;
  color: var #000;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .main-section__card-title {
    padding-left: 0;
  }
}

.main-section__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */
  text-transform: uppercase;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .main-section__description {
    padding-left: 0;
  }
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.pagination-button:not(:last-child),
.dots {
  margin-right: 16px;
}

.pagination-button {
  padding: 0;
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  width: 40px;
  height: 40px;
}

.pagination--current {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #FF6B08;
  color: white;
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #F7F7F7;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  stroke: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.btnToTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(211, 138, 22, 0.649);
  border-radius: 50%;
  border: none;
  width: 65px;
  height: 65px;
  bottom: 5%;
  right: 5%;
  position: fixed;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .btnToTop {
    width: 65px;
    height: 65px;
    right: 15%;
  }
}
.btnToTop:hover, .btnToTop:focus {
  opacity: 1;
}

.transitionBtn {
  -webkit-transition: 500ms;
  transition: 500ms;
}

.btnToTop__icon {
  fill: rgba(60, 22, 184, 0.911);
}/*# sourceMappingURL=index.css.map */