section {
  display: block;
}

p,
h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  font-style: normal;
  text-decoration: none;
}
