@import './base/common';
@import './base/common';
@import './base/reset';

@import './utils/hidden';
@import './utils/mixins';
@import './utils/colors';
@import './utils/animation';

@import './base/base';

@import './components/header_main';
@import './components/main-container';
@import './components/upcoming-films.scss';
@import './components/header_library';
@import './components/authentication-modal';
@import './components/authorization-modal';
@import './components/film-info-modal';
@import './components/trailer-modal';
@import './components/team-modal';
@import './components/pagination';
@import './components/footer';

@import './components/_btnToTop.scss';
