<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>X</button>
    <p class="modal-title">Реєстрація користувача</p>
    <form class="modal-form">
      <div class="input-field">
        <label for="user-email" class="input-title">Пошта</label>
        <div class="input-wrap">
          <input
            type="email"
            class="form-input"
            name="user-email"
            id="user-email"
            placeholder=" "
            required
          />
        </div>
      </div>

      <div class="input-field">
        <label for="user-tel" class="input-title">Пароль</label>
        <div class="input-wrap">
          <input
            type="password"
            class="form-input"
            name="user-pas"
            id="user-pas"

            placeholder=" "
            required
          />
        </div>
      </div>

      <button type="submit" class="btn submit" id="btn-login">Login</button>
      <button type="submit" class="btn submit" id="btn-signup">Sign up</button>
    </form>
    <button type="submit" class="btn submit is-hidden" id="btn-logout">
      log out
    </button>

  </div>
</div>
