<div class="container">
    <h2 class="genres">Genres</h2>
    <ul class="genres-list">
        <li>
            <button type="button" class="genres-button">Family</button>
        </li>
        <li>
            <button type="button" class="genres-button">Music</button>
        </li>
        <li>
            <button type="button" class="genres-button">Mystery</button>
        </li>
        <li>
            <button type="button" class="genres-button">Romance</button>
        </li>
        <li>
            <button type="button" class="genres-button">War</button>
        </li>
        <li>
            <button type="button" class="genres-button">Science Fiction</button>
        </li>
        <li>
            <button type="button" class="genres-button">TV Movie</button>
        </li>
        <li>
            <button type="button" class="genres-button">Others</button>
        </li>
    </ul>
</div>