<div class="container">
    <!-- <h2 class="genres">Genres</h2> -->
    <div class="genres-list">
        <!-- <li>
            <button type="button" class="genres-button" id ='family'>Family</button>
        </li>
        <li>
            <button type="button" class="genres-button" id = 'music'>Music</button>
        </li>
        <li>
            <button type="button" class="genres-button" id="mystery">Mystery</button>
        </li>
        <li>
            <button type="button" class="genres-button" id ='drama'>Drama</button>
        </li>
        <li>
            <button type="button" class="genres-button" id="war">War</button>
        </li>
        <li>
            <button type="button" class="genres-button" id="scienceFiction">Science Fiction</button>
        </li>
        <li>
            <button type="button" class="genres-button" id="thriller">Thriller</button>
        </li>
        <li>
            <button type="button" class="genres-button">Others</button>
        </li> -->
    </div>

    <div class="renderFilms">
        
    </div>
</div>

