<header class="header-lib">
  <div class="header-lib__wrap container">
    <a class="link" href="./index.html">
      <svg class="contact__icon" width="24" , height="24">
        <use href="/src/images/svg/symbol-defs.svg#icon-film"></use>
      </svg>
      <span class="logo">Filmoteka</span>
    </a>
    <nav class="navigation">
      <ul class="navigation__menu list">
        <!-- <li class="header-btn">
          <button type="button" class="authorization-btn" data-modal-open>
            <svg class="register__icon icon" width="20" height="20">
              <use href="/src/images/svg/symbol-defs.svg#icon-user"></use>
            </svg>
          </button>
        </li> -->

        <li class="header-btn navigation__item">
          <button type="button" class="change-color settings">
            <svg class="filter__icon icon icon-moon" width="20" height="20">
              <use href="/src/images/svg/symbol-defs.svg#icon-moon"></use>
            </svg>
            <svg class="filter__icon icon icon-sun" width="20" height="20">
              <use href="/src/images/svg/symbol-defs.svg#icon-sun"></use>
            </svg>
          </button>
        </li>
        <!-- <li class="header-btn navigation__item">
          <button type="button" class="authorization-btn modal-open" data-modal-open>
            <svg class="register__icon icon" width="20" height="20">
              <use href="/src/images/svg/symbol-defs.svg#icon-user"></use>
            </svg>
          </button>
        </li> -->
        <li class="navigation__item">
          <a class="navigation__link link" href="/src/index.html">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link current link" href="/src/library.html">
            My Library</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-lib__btn-wrap">
    <button class="header-lib__btn header-lib__btn-watched">Watched</button>
    <button class="header-lib__btn header-lib__btn-queue">Queue</button>
  </div>
  <div class="sort-block">
    <select class="sort-class">
      <option value="Sort by">Sort by</option>
      <option value="By popularity">By popularity</option>
      <option value="By relase date">By relase date</option>
    </select>
  </div>

</header>
