<main> 
    <section class="main-section">

<h1 class="visually-hidden">Filmoteka</h1>
<div class="container">
<div class="main-section__allcards">
    <div class="main-section__card">
        <img src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg" alt="Avatar: The Way of Water" class="main-section__image" loading="lazy">
    <p class="main-section__name">
					<h2 class="main-section__card-title">GREYHOUND</h2>
					<p class="main-section__description">Drama, Action | 2022</p>
				</p>
    </div>
        <div class="main-section__card">
        <img src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg" alt="Avatar: The Way of Water" class="main-section__image" loading="lazy">
    <p class="main-section__name">
					<h2 class="main-section__card-title">GREYHOUND</h2>
					<p class="main-section__description">Drama, Action | 2022</p>
				</p>
    </div>
        <div class="main-section__card">
        <img src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg" alt="Avatar: The Way of Water" class="main-section__image" loading="lazy">
    <p class="main-section__name">
					<h2 class="main-section__card-title">GREYHOUND</h2>
					<p class="main-section__description">Drama, Action | 2022</p>
				</p>
    </div>
</div>


</div>
    </section>
</main>