<!-- pagination -->
<div class="pagination-container">
    <button class="pagination-button arrow-left">
    <!-- <svg width="10" height="10">
        <use href="/src/images/svg/symbol-defs.svg#icon-arrow-right2"></use>
    </svg> -->
    </button>
    <button class="pagination-button first-button">1</button>
    <span class="dots" id="previous">...</span>
    <button class="pagination-button pagination--current" data-index="1">
        1
    </button>
    <button class="pagination-button" data-index="2">2</button>
    <button class="pagination-button" data-index="3">3</button>
    <button class="pagination-button" data-index="4">4</button>
    <button class="pagination-button" data-index="5">5</button>
    <span class="dots" id="after">...</span>
    <button class="pagination-button last-button">1000</button>
    <button class="pagination-button arrow-right">
        <!-- <svg width="10" height="10">
            <use href="/src/images/svg/symbol-defs.svg#icon-arrow-left2"></use>
        </svg> -->
    </button>
</div>
</div>