<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
;

<div class="container">
  <h2 class="upcoming-title">Upcoming soon</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="main-section__card upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="main-section__image upcoming-img"
          loading="lazy"
        />
      </div>
      <div class="main-section__card upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="main-section__image upcoming-img"
          loading="lazy"
        />
      </div>
      <div class="main-section__card upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="main-section__image upcoming-img"
          loading="lazy"
        />
      </div>
      <div class="main-section__card upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="main-section__image upcoming-img"
          loading="lazy"
        />
      </div>
      <div class="main-section__card upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="main-section__image upcoming-img"
          loading="lazy"
        />
      </div>
      <div class="main-section__card upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="main-section__image upcoming-img"
          loading="lazy"
        />
      </div>
      <div class="main-section__card upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="main-section__image upcoming-img"
          loading="lazy"
        />
      </div>
      <div class="main-section__card upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="main-section__image upcoming-img"
          loading="lazy"
        />
      </div>
      <div class="main-section__card upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="main-section__image upcoming-img"
          loading="lazy"
        />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
