<div class="container upcoming-container">
  <h2 class="upcoming-title">Upcoming soon</h2>
  <div class="swiper mySwiper">
    <ul class="swiper-wrapper">
      <li class="upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="upcoming-img"
          loading="lazy"
        />
        <p class="upcoming-card-title">Avatar. The Way of Water 1</p>
      </li>
      <li class="upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="upcoming-img"
          loading="lazy"
        />
        <p class="upcoming-card-title">Avatar. The Way of Water 2</p>
      </li>
      <li class="upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="upcoming-img"
          loading="lazy"
        />
        <p class="upcoming-card-title">Avatar. The Way of Water 3</p>
      </li>
      <li class="upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="upcoming-img"
          loading="lazy"
        />
        <p class="upcoming-card-title">Avatar. The Way of Water 4</p>
      </li>
      <li class="upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="upcoming-img"
          loading="lazy"
        />
        <p class="upcoming-card-title">Avatar. The Way of Water 5</p>
      </li>
      <li class="upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="upcoming-img"
          loading="lazy"
        />
        <p class="upcoming-card-title">Avatar. The Way of Water 6</p>
      </li>
      <li class="upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="upcoming-img"
          loading="lazy"
        />
        <p class="upcoming-card-title">Avatar. The Way of Water</p>
      </li>
      <li class="upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="upcoming-img"
          loading="lazy"
        />
        <p class="upcoming-card-title">Avatar. The Way of Water</p>
      </li>
      <li class="upcoming-card swiper-slide">
        <img
          src="https://image.tmdb.org/t/p/w500/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg"
          alt="Avatar: The Way of Water"
          class="upcoming-img"
          loading="lazy"
        />
        <p class="upcoming-card-title">Avatar. The Way of Water</p>
      </li>
    </ul>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
