.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 450px;
  min-height: 509px;
 
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  @include desktop{
   width: 528px;
   min-height: 581px;
  }

  .backdrop.is-hidden & {
      transform: translate(0%, 0%) scale(0) rotate(-180deg);
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--whitetext-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-close:focus &,
  .modal-close:hover & {
      fill: var(--linkcolor);
  }
}

.modal-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}


.input-field {
  margin-bottom: 10px;
}

.input-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  &:focus {
      outline: 1px solid var(--linkcolor);
      cursor: pointer;
  }
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  .form-input:focus+& {
      fill: var(--linkcolor);
      cursor: pointer;
  }
}

.textarea-input {
  height: 120px;
  padding: 12px 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}

// // .checkbox-field {
// //   margin-bottom: 30px;
// // }

// // .checkbox-title {
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// //   gap: 7px;
// //   font-family: var(--main-font);
// //   font-weight: 400;
// //   font-size: 12px;
// //   line-height: 14px;   
  
// //   letter-spacing: 0.03em;
// //   color: #757575;
// //   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
// //   @include desktop{
// //   font-size: 14px;
// //   line-height: 1.71; 
// //   }

// //   & span {
// //       width: 16px;
// //       height: 15px;
// //       display: flex;
// //       align-items: center;
// //       justify-content: center;
// //       border: 2px solid black;
// //       border-radius: 2px;
// //   }

// //   .input-check:checked+& span {
// //       background-color: var(--linkcolor);
// //       border-color: var(--linkcolor);
// //   }

// //   .input-check:focus+& span {
// //       border: 2px solid var(--linkcolor);
// //   }

// //   .input-check:checked+& .chekbox-icon {
// //       fill: white;
// //       background-color: var(--linkcolor);
// //   }
// // }

// // .input-check:checked {
// //   border: 2px solid var(--linkcolor);
// // }

// .conditions {
//   color: #2196F3;

//   &::after {
//       content: "";
//       position: absolute;
//       display: block;
//       width: 100%;
//       height: 1px;
//       background-color: var(--linkcolor);
//       bottom: 1px;
//       @include desktop{
//        bottom: 5px;  
//       }
//      }
// }
// .conditions-link {
//   position: relative;
// }
// .chekbox-icon {
//   fill: transparent;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }



.submit {
  width: 200px;
  height: 50px;
  background-color: #f38021;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--whitetext-color);
  margin-right: auto;
  margin-left: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      background: #188CE8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}