.btnToTop {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6b08;

  border-radius: 20px;
  border: 3px solid transparent;

  width: 50px;
  height: 50px;
  bottom: 5%;
  right: 10%;

  position: fixed;
  opacity: 0.8;
  z-index: 10;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 50px;
    height: 50px;
    right: 3%;
  }
  @media screen and (min-width: 1000px) and (max-width: 1279px) {
    width: 50px;
    height: 50px;
    right: 15%;
  }
  @media screen and (min-width: 1280px) {
    width: 50px;
    height: 50px;
    right: 3%;
  }
  @media screen and (min-width: 1600px) {
    width: 50px;
    height: 50px;
    right: 10%;
  }
  animation: changefill 2s forwards infinite ease-out 0.5s;

  &:hover,
  &:focus {
    opacity: 1;
    border: 1px solid #fddadae4;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
    animation: none;
  }
}

@keyframes changefill {
  0% {
    background-color: #faa66e;
  }
  50% {
    background-color: #ff6b08;
  }
  100% {
    background-color: #faa66e;
  }
}
.transitionBtn {
  transition: 500ms;
}

.btnToTop__icon {
  width: 50px;
  height: 50px;
  fill: #f7f1e7e4;
  // fill: #2D1E26;

  &:hover,
  &:focus {
    fill: #250808;
    // fill: #fddadae4;
  }
}

.hidden-btnToTop {
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}
