.film-modal {
    position: relative;
    width: 280px;
    height: 90vh;
    background-color: #fff;
    overflow-y: auto;
    padding: 48px 20px 40px;

    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 8px;
        margin-right: 8px;

        &-icon{
            fill: #000;
        }
    }

    &__poster {
        margin-bottom: 20px;
        border-radius: 5px;
        width: 240px;
    }

    &__title {
        margin-bottom: 20px;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.15;
        text-transform: uppercase;
    }

    &__info-list {
        margin-bottom: 20px;
    }

    &__info-item {
        display: flex;
        margin-bottom: 8px;
    }

    &__info-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        color: #8C8C8C;
    }

    &__info-text {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        text-transform: uppercase;

        margin-left: auto;
        width: 50%;
    }

    &__title-about {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        text-transform: uppercase;

        margin-bottom: 8px;
    }

    &__text-about {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.66;

        margin-bottom: 20px;
    }

    &__add-btns-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__add-btns {
        background-color: #FF6B01;
        border-radius: 5px;
        border: 0;
        width: 110px;
        min-height: 44px;
        padding: 5px;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        color: #fff;
        text-transform: uppercase;

        &--seconadry-btn {
            color: #000;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid #000000;
        }
    }
}