.film-modal {
  position: relative;
  width: 280px;
  height: 90vh;
  background-color: #fff;
  overflow-y: auto;
  padding: 48px 20px 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
      box-shadow: 0px 1px 1px;
      transition: box-shadow $animation-time $animation-cubic;
    }
  }

  &__poster {
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 240px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;
  }

  &__info-list {
    margin-bottom: 20px;
  }

  &__info-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__info-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8c8c8c;
  }

  &__info-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: capitalize;

    margin-left: auto;
    width: 50%;
  }

  &__info-text--vote {
    padding: 1px 4px;
    background-color: #ff6b01;
    border-radius: 5px;
    color: #fff;
  }

  &__info-text--vote-count {
    background-color: #f7f7f7;
    color: #000;
  }

  &__info-text--slash {
    font-size: 12px;
    line-height: 1.33;
    color: #8c8c8c;
  }

  &__title-about {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;

    margin-bottom: 8px;
  }

  &__text-about {
    overflow: auto;
    max-height: 240px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
  }

  &__info-wrapper {
    margin-bottom: 20px;
  }

  &__trailer-btn {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #000;
    border-radius: 5px;
    border: 0;

    color: #fff;
    text-transform: uppercase;
    font-size: 10px;

    &:hover {
      background-color: #ff6b01;
      transition: background-color $animation-time $animation-cubic;
    }
  }

  &__add-btns-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__add-btns {
    background-color: #ff6b01;
    border-radius: 5px;
    border: 0;
    width: 110px;
    min-height: 44px;
    padding: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fff;
    text-transform: uppercase;

    &:disabled {
      background-color: #8c8c8c;
      cursor: default;
    }

    &--seconadry-btn {
      color: #000;
      background-color: transparent;
      border: 1px solid #000000;
    }
  }

  @include tablet {
    display: flex;
    width: 704px;
    height: inherit;
    padding: 40px 72px 40px 36px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 66px;
    }

    &__info-text {
      width: 60%;
    }

    &__text-about {
      max-height: 264px;
    }

    &__poster {
      margin-bottom: 0px;
      max-width: 264px;
      max-height: 373px;
    }

    &__add-btns-wrapper {
      margin-top: auto;
    }

    &__add-btns {
      width: 125px;
    }

    &__trailer-btn {
      font-size: 12px;
    }
  }

  @include desktop {
    width: 806px;
    padding: 40px 12px;

    &__poster {
      max-width: 375px;
      max-height: 478px;
    }

    &__title {
      padding-right: 30px;
      font-size: 30px;
      line-height: 1.16;
    }

    &__info-text {
      padding-right: 30px;
    }

    &__wrapper {
      margin-left: 16px;
    }

    &__add-btns {
      width: 136px;
    }

    &__add-btns-wrapper {
      display: flex;
      justify-content: flex-start;
      margin-left: 8px;
      gap: 15px;
    }
  }
}

.disabled-text {
  text-align: start;
  font-size: 9;
  margin-top: 5px;
  @include tablet {
    font-size: 10;
  }
  @include desktop {
    font-size: 12;
  }
}

.triangle-right {
  margin-left: 5px;
  display: inline-block;
  border-top: 3px solid transparent;
  border-left: 6px solid #fff;
  border-bottom: 3px solid transparent;

  @include tablet {
    border-top: 4px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 4px solid transparent;
  }
}

////////////////////////// BTN WATCH TRALER ////////////////////

.hover-modal-btn {
  transition: all $animation-time ease-in-out;

  &:hover {
    border-color: #ff6b01;
    box-shadow: 0 0 10px 0 #ff6b01 inset, 0 0 10px 4px #ff6b01;
  }
}
