.footer {
  background-color: $bg-footer;
  padding: 0;

  @include tablet {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    max-width: 768px;
    font-size: 16px;
    line-height: 19px;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    max-width: 1280px;
    font-size: 16px;
    line-height: 19px;

    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__text {
  display: flex;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;

  color: rgba(84, 84, 84, 1);

  @media screen and (max-width: 479px) {
    align-items: center;
    text-align: center;
    justify-content: center;

    max-width: auto;
    font-size: 14px;
    line-height: 16px;

    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  @include mobile {
    align-items: center;
    text-align: center;
    justify-content: center;

    max-width: 480px;
    font-size: 14px;
    line-height: 16px;

    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  @include tablet {
    max-width: 768px;
    font-size: 16px;
    line-height: 19px;

    padding: 0;
    margin: 0;
  }

  @include desktop {
    max-width: 1280px;
    font-size: 16px;
    line-height: 19px;

    padding: 0;
    margin: 0;
  }
}

.footer__text_container {
  display: flex;

  @media screen and (max-width: 479px) {
    align-items: center;
    text-align: center;
    justify-content: center;

    max-width: auto;
    font-size: 14px;
    line-height: 16px;

    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
  }

  @include mobile {
    align-items: center;
    text-align: center;
    justify-content: center;

    max-width: 480px;
    font-size: 14px;
    line-height: 16px;

    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
  }

  @include tablet {
    max-width: 768px;
    font-size: 16px;
    line-height: 19px;

    padding: 0;
    margin: 0;
  }

  @include desktop {
    max-width: 1280px;
    font-size: 16px;
    line-height: 19px;

    padding: 0;
    margin: 0;
  }
}

.footer__text_content {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;

  color: rgba(84, 84, 84, 1);
  margin-right: 10px;

  @media screen and (max-width: 479px) {
    max-width: auto;
    font-size: 14px;
    line-height: 16px;
  }

  @include mobile {
    max-width: 480px;
    font-size: 14px;
    line-height: 16px;
  }

  @include tablet {
    max-width: 768px;
    font-size: 16px;
    line-height: 19px;
  }

  @include desktop {
    max-width: 1280px;
    font-size: 16px;
    line-height: 19px;
  }
}
.footer__text_span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;

  color: rgba(84, 84, 84, 1);
  margin-right: 3px;

  @media screen and (max-width: 479px) {
    max-width: auto;
    font-size: 14px;
    line-height: 16px;
  }

  @include mobile {
    max-width: 480px;
    font-size: 14px;
    line-height: 16px;
  }

  @include tablet {
    max-width: 768px;
    font-size: 16px;
    line-height: 19px;
  }

  @include desktop {
    max-width: 1280px;
    font-size: 16px;
    line-height: 19px;
  }
}

.footer__button {
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  color: rgba(84, 84, 84, 1);
  background-color: $bg-footer;

  border: none;
  text-decoration: underline;

  padding: 0;

  @media screen and (max-width: 479px) {
    max-width: auto;
    font-size: 14px;
    line-height: 16px;
  }
  @include mobile {
    max-width: 480px;
    font-size: 14px;
    line-height: 16px;
  }

  @include tablet {
    max-width: 768px;
    font-size: 16px;
    line-height: 19px;
  }

  @include desktop {
    max-width: 1280px;
    font-size: 16px;
    line-height: 19px;
  }
}

.footer__icon {
  display: block;
  margin-right: 10px;
  fill: #ff6b08;
  animation: pulse 0.7s ease-in infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1.1);
  }
}
