::-webkit-input-placeholder {
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-image: url(/src/images/mob-background-home-1x.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/src/images/mob-background-home-2x.jpg);
  }

  @include tablet {
    background-image: url(/src/images/tab-background-home-1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/tab-background-home-2x.jpg);
    }
  }

  @include desktop {
    background-image: url(/src/images/desk-background-home-1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/desk-background-home-2x.jpg);
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 41px;
}

.header__home {
  padding-top: 40px;
  padding-bottom: 48px;

  padding-left: 35px;
  padding-right: 35px;

  @media screen and (min-width: 1024px) {
    padding-bottom: 75px;
  }
}

.header-btn {
  list-style-type: none;
}

.navigation {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
}

.navigation__link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.navigation__item {
  list-style-type: none;
}

.navigation__menu {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;

  font-size: 30px;
  line-height: 35px;
  align-items: center;
  text-align: center;
  color: #ffffff;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    visibility: hidden;
    display: none;
  }
}

.contact__icon {
  margin-right: 10px;
  cursor: pointer;
}

.navigation__link {
  position: relative;
  padding: 5px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: #ff001b;
}

.search {
  color: white;
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto 22px;
  justify-content: center;

  @media screen and (min-width: 480px) {
      width: 336px;
    }

  @include desktop {
    width: 394px;
  }
}

.search__input {
  width: 100%;
  height: 30px;
  padding: 4px 0;
  border: none;
  border-bottom: 0.5px solid white;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  background-color: transparent;
  // transition-property: border-bottom;
  // transition-duration: 0.25s;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 336px;
  }

  @include desktop {
    width: 394px;
  }
}

.search__button {
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.function__panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__wrapper {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.authorization-btn {
  background-color: inherit;
  height: 40px;
  border-style: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  cursor: pointer;
  list-style-type: none;
  fill: white;
}

.register__icon {
  fill: white;
  margin-right: 25px;

  @include tablet {
    margin-right: 40px;
  }
}

.warning-notification {
  position: absolute;
  top: 40px;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  color: red;

  @include tablet {
    width: 398px;
  }

  @include desktop {
    width: 398px;
  }
}

.wrong-text {
  font-size: 40px;
  display: flex;
  margin-right: 2px;
}

.film-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrong-box {
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.not-found-text {
  color: #ff6b08;
    justify-content: space-around;
    display: flex;
    font-size: 40px;
    padding-bottom: 20px;
}
