.main-section {
    padding-top: 20px;
    padding-bottom: 20x;

}

.main-section__allcards {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;

@include tablet {
justify-content: flex-start;
}

}

.main-section__card {
    width: 100%;
   

    @include tablet {
        flex-basis: calc((100% - 30px) /2);
    }

    @include desktop {
        flex-basis: calc((100% - 90px) /4);

    }
}


.main-section__image {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 8px;

}

//  .main-section__name {

//  }

.main-section__card-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */
text-transform: uppercase;
color: var ($primary-text-color);
padding-left: 0px;

@include tablet {
    padding-left: 0;
}
}


.main-section__description {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */
text-transform: uppercase;
padding-left: 0px; 

@include tablet {
padding-left: 0;
}
}

