.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
   padding-top: 60px;

    // @media screen and (min-width: $mobile) and (max-width: $to-tablet) {
    //     padding: 40px 0;
    // }

    // @media screen and (min-width: $tablet) {
    //     padding: 50px 0 60px 0;
    // }
}

.pagination-button:not(:last-child),
.dots {
    margin-right: 16px;
}

.pagination-button {
    padding: 0;
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    width: 40px;
    height: 40px;
}

.pagination--current {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #FF6B08;
    color: white;
}

.dots,
.first-button,
.last-button {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.arrow-left,
.arrow-right {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(16, 15, 16, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    stroke: #000;
    background-position: center;
    background-repeat: no-repeat;
}

