.upcoming-title {
  text-align: center;
  padding: 10px;
  color: $accent;
  font-size: 16;
  // background-color: #181f25;
  @include tablet {
    font-size: 18;
  }
  @include desktop {
    font-size: 22;
  }
}

.swiper {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.upcoming-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-basis: calc((100% - 30px) / 2);

  @include tablet {
    flex-basis: calc((100% - 100px) / 4);
  }

  @include desktop {
    flex-basis: calc((100% - 120px) / 5);
  }

  &:hover .upcoming-card-title {
    transform: translateY(0);
    opacity: 1;
  }
}

.upcoming-img {
  width: 100%;
  height: 100%;
}

.upcoming-card-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  padding-bottom: 10px;
  transform: translateY(+100%);
  opacity: 0;
  text-align: center;
  width: 100%;
  font-size: 20;
  color: $primary-bg-color;
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform $animation-time $animation-cubic,
    opacity $animation-time $animation-cubic;
}

.swiper-button-next,
.swiper-button-prev {
  color: $hover;
}

.swiper-button-next {
  text-shadow: 5px 5px 8px #150905;
}

.swiper-button-prev {
  text-shadow: -5px 5px 8px #150905;
}
