.spinner__overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);

    opacity: 1;
    visibility: visible;

    transition: opacity 150ms ease-in-out;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
    }
}

.spinner--on {
    position: fixed;
    top: 50%;
    left: 50%;

    display: inline-block;
    width: 100px;
    height: 100px;

    transform: translate(-50%, -50%);
    z-index: 999;
}

.spinner--on div {
    position: absolute;
    box-sizing: border-box;

    display: block;
    margin: 8px;
    width: 75px;
    height: 75px;

    border: 8px solid #ff6b08;
    border-radius: 50%;
    border-color: #ff6b08 transparent transparent transparent;

    animation: spinner 1200ms cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinner--on div:nth-child(1) {
    animation-delay: -450ms;
}

.spinner--on div:nth-child(2) {
    animation-delay: -300ms;
}

.spinner--on div:nth-child(3) {
    animation-delay: -150ms;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}